<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AMAZING NOTES!!!</title>
</head>
<body>
  <h1>AMAZING NOTES!!!</h1>
<nav>
  <ul>
    <li><a href="/notes">Home</a></li>
    <li><a href="/notes/new">Create a new todo!</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>