<form action="/notes/" method="post">
  <label for="title">Title:</label><input type="text" id="title" name="title" autofocus="true" tabindex="1">
  <label for="task">Task:</label><input type="text" id="task" name="task" tabindex="2">
  <button tabindex="3">Submit</button>
</form>