body {
  font-family: Lato;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  color: rgba(242,0,0,1);
  display: inline;
  font-size: 40px;
  font-weight: 200;
  padding-right: 30px;
}
time {
  color: rgba(204,204,204,1);
  display: block;
  font-size: 25px;
  padding: 15px 0;
}
header h2 {
  display: inline;
  font-size: 25px;
  color: #878787;
}
nav ul li {
  display: inline-block;
  width: 16%;
  margin: 0;
  padding: 20px 0;
  background: black;
  color: white;
  text-align: center;
}
ul {
  padding: 0;
  margin: 20px 0;
}